.button {
  font-weight: 700;
  font-size: 2rem;
  display: inline-block;
  color: #fff;
  background: $secondary;
  border-radius: 10px;
  padding: 13px 26px;
  transition: 0.3s;
  &:hover {
    background: $primary;
  }
}
