.other-category {
  width: 100%;
}

.other-product {
  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
    display: block;
    margin-top: -30px;
    text-align: center;
  }
}
