@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica/helveticaneuecyr-roman.woff2') format('woff2'),
    url('../fonts/Helvetica/helveticaneuecyr-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica/helveticaneuecyr-medium.woff2') format('woff2'),
    url('../fonts/Helvetica/helveticaneuecyr-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica/helveticaneuecyr-bold.woff2') format('woff2'),
    url('../fonts/Helvetica/helveticaneuecyr-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.ttf?b6432g') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?b6432g') format('woff'),
    url('../fonts/icomoon/icomoon.svg?b6432g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plane:before {
  content: '\e901';
}
.icon-tiktok:before {
  content: '\e905';
}
.icon-flags:before {
  content: '\e906';
}
.icon-surprise:before {
  content: '\e907';
}
.icon-bell:before {
  content: '\e908';
}
.icon-youtube:before {
  content: '\e909';
}
.icon-back:before {
  content: '\e904';
}
.icon-facebook:before {
  content: '\e900';
}
.icon-instagram:before {
  content: '\e902';
}
.icon-telegram:before {
  content: '\e903';
}
